/* CSS Document */
h1 {
  font-size: 22px;
  width: 510px; }

table {
  border-collapse: collapse; }

.header tbody, .yearAndType tbody, .time-sheet tbody, .payroll tbody,
.header td, .yearAndType td, .time-sheet td,
.yearAndType tr, .time-sheet tr, th {
  border: 1px solid; }

td, input {
  width: 47px; }

tr {
  height: 30px; }

th {
  width: 116px;
  font-size: 16px;
  height: 35px; }

.smallBoxDesc {
  margin: 0 75px 0 120px; }

.float-l {
  float: left; }

.left-5 {
  margin-left: 5px; }

.margin-left-10 {
  margin-left: 10px; }

.autoHeight {
  height: auto; }

.italics {
  font-style: italic; }

.headerCell {
  font-size: 13px; }

.yearAndType,
.yearAndType tbody,
.yearAndType tr,
.yearAndType .last {
  border-bottom: none; }

.height-40 {
  height: 40px; }

.yearAndType {
  width: 917px; }

.date {
  border: 1px solid #000;
  width: 30px;
  height: 25px;
  float: right;
  margin-right: 5px;
  margin-bottom: 0; }

.hours {
  height: 67px; }

.calendar {
  height: 23px;
  display: block;
  margin: 30px auto 0;
  text-align: center; }

.week {
  font-size: 15px;
  width: 80px; }

.month,
.weekly,
.total,
.date,
th {
  text-align: center; }

td,
th {
  vertical-align: middle; }

.bold {
  font-weight: bold; }

.month {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px; }

.time-sheet {
  width: 975px; }

.pad-top-20 {
  padding-top: 20px; }

.pad-left-25 {
  padding-left: 25px; }

.total {
  width: 55px; }

.totaltxt {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 11px; }

#total {
  margin-bottom: 12px; }

.input {
  width: 60px; }

.notCurrent {
  color: #888; }

.bg-lightGrey {
  background-color: #DFDFDF; }

.head1 {
  width: 190px; }

.head2 {
  width: 150px; }

.head3 {
  width: 200px; }

.head4 {
  width: 270px; }

.head5 {
  width: 120px; }

input[type="radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -ms-appearance: checkbox;
  /* not currently supported */
  -o-appearance: checkbox;
  /* not currently supported */
  width: auto; }

.assistant {
  font-size: 12px; }

.center {
  display: block;
  margin: 0 auto; }

.certify {
  width: 580px; }

.signature {
  width: 900px; }

/************************************************************

	signature section css

 ************************************************************/
table.signature {
  width: 831px; }
  table.signature td:nth-child(1),
  table.signature td:nth-child(3) {
    padding-right: 20px; }
  table.signature td:nth-child(2) {
    padding-right: 50px; }
  table.signature tr:first-child td {
    padding-bottom: 0; }
  table.signature tr:last-child td {
    padding-top: 0; }

/************************************************************

	payroll information css

 ************************************************************/
.payroll {
  font-size: 12px;
  width: 953px;
  height: 52px; }

.payroll-left {
  width: 620px;
  padding: 0 0 0 10px;
  border: 1px solid;
  height: 52px; }

.payroll-right {
  width: 283px;
  border: 1px solid;
  height: 52px; }

.payroll-center {
  background: #000;
  width: 34px;
  border-bottom: 2px solid;
  height: 52px; }

.payroll-middle {
  border-bottom: 1px solid;
  border-top: 1px solid; }

/************************************************************

	input css

 ************************************************************/
.week-selection input {
  width: auto; }
@media only screen and (min-width: 1280px) {
  .week-selection {
    position: fixed;
    top: 100px;
    width: 120px; } }

.month-year {
  padding: 20px 0 0 10px;
  width: 905px;
  border: 1px solid black;
  border-bottom: 0;
  margin-left: 136px; }

.monthSelect, .yearSelect {
  	/************************************************************
  		dropdown resets
  		only use if wishing to change default arrow for creating
  			the form
  
  	border: 0 !important;
  	 -webkit-appearance: none;
  		-moz-appearance: none;
  	text-indent: 0.01px;
  	text-overflow: "";*/
  width: 55px; }
  @media print {
    .monthSelect, .yearSelect {
      border: 0 !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: ""; } }

.monthSelect {
  margin: 3px 0 3px 4px; }

.yearSelect {
  margin: 3px 4px 3px 0; }

input[type='submit'].btn {
  border: 1px solid black;
  border-radius: 8px;
  width: auto; }

/************************************************************

	csss for printing

 ************************************************************/
.print {
  display: none; }

@media print {
  input,
  .calendar {
    border-style: none; }

  .button {
    display: none; }

  .notCurrent {
    color: #000; }

  .print {
    display: block; } }
