@charset "utf-8";
/* CSS Document */

.header tbody, .yearAndType tbody, .payroll tbody,
.header td, .yearAndType td,
.yearAndType tr, th { border:1px solid; }
td, input {	width:47px; }
tr { height:30px; }
th {
	width:116px;
	font-size:16px;
	height:35px;
}
.hours{
	height:67px;
}



.calendar {
	height:23px;
	display:block;
	margin:30px auto 0;
	text-align:center;
}



.week {
	font-size:15px;
	width:80px;
}


.month,
.weekly, 
.total, 
.date				{ text-align:center; }

td,
th 				{ vertical-align: middle; }




.pad-top-20 	{ padding-top:20px; }
.pad-left-25	{ padding-left:25px; }

.total { width:55px; }

.totaltxt {
	font-size: 12px;
	line-height:12px;
	margin-bottom:11px;
}

#total { margin-bottom:12px; }

.input {
	width:60px;
}

input[type="radio"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;     /* not currently supported */
    -o-appearance: checkbox;      /* not currently supported */
	width:auto;
}



@import "sass/placeholders";

@import "sass/header";
@import "sass/signature";
@import "sass/payroll";
@import "sass/input";
@import "sass/print";
@import "sass/instruction";
@import "sass/personal";
@import "sass/table";
@import "sass/certify";
@import "sass/date";