/************************************************************

	date css

 ************************************************************/

.date{
	@extend %float-r;
	@extend %border;
	
	width:30px;
	height:25px;
	margin-right:5px;
	margin-bottom:0;
}