/************************************************************

	input css

 ************************************************************/

.week-selection {

	& input {
		width: auto;
	}	

	@media only screen and (min-width: 1280px)
	{
		position: fixed;
		top: 100px;
		width: 120px;
	}
}

%select {
	/************************************************************
		dropdown resets
		only use if wishing to change default arrow for creating
			the form

	border: 0 !important;
	 -webkit-appearance: none;
		-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: "";*/

	margin: 3px 4px;
	width: 60px;

	@media print 
	{
		border: 0 !important;
		 -webkit-appearance: none;
			-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: "";
	}
}

.monthSelect {
	@extend %select;

	@media only screen and (min-width: 1280px)
	{
	}
}
.yearSelect {
	@extend %select;

	@media only screen and (min-width: 1280px)
	{
	}
}

input[type='submit'].btn {
	border: 1px solid black;
	border-radius: 8px;
	width: auto;
}