/************************************************************

	instruction css

 ************************************************************/

 .instruction {
 	@extend %border;
 	@extend %center;

 	margin-left: 145px;
 	width: 905px;
 	padding: 5px;
 }