/************************************************************

	payroll information css

 ************************************************************/

$left:		 620px;
$center:	  34px;
$right:		 283px;

.payroll {
	@extend %bold;
	@extend %margin-l-45;

	font-size:12px;
	width: $left + $center + $right + 16px; // 10px for -left padding, 2px for each border
	height:52px;

	& > * {
		@extend %float-l;
	}
}
.payroll-left {
	@extend %border;
	
	width: $left;
	padding:0 0 0 10px;
	height:52px;
}
.payroll-right {
	@extend %border;
	
	width: $right;
	height:52px;

	& > * {
		padding-left: 25px;
		border-bottom: 1px solid black;
	}

	& > div:first-child {
 		@extend %bg-lightGrey;
	}

	& > div:last-child {
		border: none;
	}
}
.payroll-center {
	@extend .payroll-center;
	background:#000;
	width: $center;
	border-bottom:2px solid;
	height:52px;
}

.payroll-center {
  -webkit-print-color-adjust: exact;
}