/************************************************************

	personal information css

 ************************************************************/

$header: 190px, 150px, 200px, 270px, 110px;


.personal {
	@extend %border;
	@extend %bold;

	font-size: 0.8em;
	margin: 0 auto 20px;
	overflow: auto;
	padding: 0 5px;
	width: 945px;

	& > div {
		@extend %float-l;

		border-right: 1px solid black;
		display: block;
		margin-right: 5px;
		
		& > input {
			border: 1px solid #ccc;

			@media print {
				border: none;
				background-color: white;
			}
		}
	}

	@for $i from 1 to 5 {
		&  > div:nth-child(#{$i}) {
			width: nth($header, $i);

			& > input {
				width: nth($header, $i) - 10px;
			}
		}
	}

	& > div:last-child {
		border-right: none;
		margin-right: 0;
		width: nth($header, length($header));

		& > input {
			width: nth($header, length($header)) - 5px;
		}
	}

	/*& > div > input[disabled] {
		border: none;
		color: #fff;
	}*/
}