//placeholders

%float-l	{ float: left; }
%float-r	{ float: right; }
%italics	{ font-style: italics; }
%auto-height{ height: auto; }




%center {
	text-align: center;

	display: block;
	margin: 0 auto;
}