//placeholders

%float-l	{ float: left; }
%float-r	{ float: right; }
%italics	{ font-style: italics; }
%auto-height{ height: auto; }


%border {
	border: 1px solid black;
	border-bottom: none;
}

%center {
	text-align: center;

	display: block;
	margin: 0 auto;
}


/************************************************************

	temporary until class inhert from placeholders

 ************************************************************/
.float-r	{ float: right; }
.italics 	{ font-style:italic; }
.autoHeight { height:auto; }
.center {
	display:block;
	margin:0 auto;
}