/************************************************************

	temporary until class inhert from placeholders

 ************************************************************/
.float-r	{ float: right; }
.italics 	{ font-style:italic; }
.autoHeight { height:auto; }

//placeholders

%float-l		{ float: left; }
%float-r		{ float: right; }
%italics		{ font-style: italics; }
%bold			{ font-weight: bold; }
%auto-height	{ height: auto; }
%bg-lightGrey 	{ background-color: #DFDFDF; }
%v-align-center { vertical-align: center; }

%border {
	border: 1px solid black;
}
%border-no-bot {
	@extend %border;

	border-bottom: none;
}

%center {
	text-align: center;

	display: block;
	margin: 0 auto;
}

%margin-l-45{ margin-left: 45px; }