/************************************************************

	csss for printing

 ************************************************************/

.print		{ display:none; }

@media print
{
	input, 
	.calendar 	{ border-style:none; }
	.button 	{ display:none;	}
	.notCurrent	{ color:#000; }
	.print		{ display:block; }
}

.payroll-center {
  -webkit-print-color-adjust: exact;
}