/************************************************************

	signature section css

 ************************************************************/

.signature {
	font-size: 13px;
	margin: 16px 0 16px 220px;
	overflow: auto;

	& div {
		@extend .float-l;

		border-top: 1px solid black;
		padding-top: 2px;
	}

	& div:nth-child(odd) {
		width: 280px;
		margin-right: 20px;
	}

	& div:nth-child(even) {
		width: 90px;
		margin-right: 50px;
	}
}