/************************************************************

	time-sheet table css

 ************************************************************/

 .time-sheet {
 	@extend %margin-l-45;

 	border-collapse: collapse;
 	width: 975px;

 	& tbody,
 	& tr {
 		@extend %border;
 	}
 	& td {
 		@extend %border;
 		@extend %v-align-center;
 	}

 	& thead {
 		@extend %bg-lightGrey;

 		th {
 			@extend %border;
 			@extend %center;
 			@extend %v-align-center;

 			display: table-cell;
			font-size:16px;
			height:35px;
			width:116px;
 		}

 		th:last-child {
			font-size:15px;
			width:80px;
 		}
 	}

	.hours{
		height: 67px;

		& > input {
			width: 47px;
		}
	}

 	.weekly {
 		@extend %bold;
 		@extend %center;

 		display: table-cell;
 	}
 	.total {
 		@extend %bold;
 		@extend %center;

 		display: table-cell;
 		width: 55px;
 	}

 	.day {
 		@extend %center;

		height: 23px;
		margin-top: 30px;
 	}

 	.date{
		@extend %border;
 		@extend %center;
		@extend %float-r;
		
		width:30px;
		height:25px;
		margin-right:5px;
		margin-bottom:0;
	}
}