@charset "utf-8";
/* CSS Document */
/* Hello world! */

h1 { 
	font-size:22px; 
	width:510px;
}
table { border-collapse:collapse; }
.header tbody, .yearAndType tbody, .time-sheet tbody, .payroll tbody,
.header td, .yearAndType td, .time-sheet td,
.yearAndType tr, .time-sheet tr, th { border:1px solid; }
td, input {	width:47px; }
tr { height:30px; }
th {
	width:116px;
	font-size:16px;
	height:35px;
}

.smallBoxDesc {
	margin:0 75px 0 120px;
}

.float-l	{ float: left; }

.left-5		{ margin-left:5px; }
.margin-left-10 	{ margin-left:10px; }

.autoHeight { height:auto; }

.italics { font-style:italic; }

.headerCell { font-size:13px; }

.yearAndType,
.yearAndType tbody,
.yearAndType tr,
.yearAndType .last {
	border-bottom:none;
}

.payroll {
	font-size:12px;
	height:52px;
}
.payroll-left {
	width:620px;
	padding:0 0 0 10px;
	margin-left:10px;
	border:1px solid;
}
.payroll-right {
	width:283px;
	border:1px solid;
}
.payroll-center {
	background:#000;
	width:34px;
	border-bottom:2px solid;
}
.payroll-middle {
	border-bottom:1px solid;
	border-top:1px solid;
}

.height-40	{ height:40px; }

.yearAndType { width:917px; }

.date{
	border:1px solid #000;
	width:30px;
	height:25px;
	float:right;
	margin-right:5px;
	margin-bottom:0;
}
.hours{
	height:67px;
}

.calendar {
	height:23px;
	display:block;
	margin:30px auto 0;
	text-align:center;
}

.week {
	font-size:15px;
	width:80px;
}
.month,
.weekly, 
.total, 
.date,
th 				{ text-align:center; }

td,
th 				{ vertical-align: middle; }

.bold			{ font-weight:bold; }

.month-year { 
	margin-right:250px;
	margin-left:20px;
}

.month {
	font-family:"Times New Roman", Times, serif;
	font-size:16px;
}

.time-sheet {
	width: 975px;
}

.pad-top-20 	{ padding-top:20px; }
.pad-left-25	{ padding-left:25px; }

.total { width:55px; }

.totaltxt {
	font-size: 12px;
	line-height:12px;
	margin-bottom:11px;
}

#total { margin-bottom:12px; }

.input {
	width:60px;
}
.notCurrent { color:#888; }

.bg-lightGrey { background-color:#DFDFDF; }

.button 
{
	height: 25px;
	cursor:pointer;
	margin-right:10px;
	padding-right:10px;
	width:120px;
}
.button a 
{
	text-decoration: none;
	text-shadow: 0 1px 1px #fff;
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 10px;
	margin-right:5px;
	color:#000;
}
.button:hover
{
	
	border-radius:2px;
	
	box-shadow:
		inset -3px 3px 2px rgba(255,255,255,0.7),
		inset 2px -2px 2px rgba(50,50,50,0.7);
	-moz-box-shadow:
		inset -3px 3px 2px rgba(255,255,255,0.7),
		inset 2px -2px 2px rgba(50,50,50,0.7);
	-webkit-box-shadow:
		inset -3px 3px 2px rgba(255,255,255,0.7),
		inset 2px -2px 2px rgba(50,50,50,0.7);
}
.button:hover a
{
	padding: 4px 0 6px 10px;
}
.button:active
{
	cursor:pointer;
	
	box-shadow:
		inset -2px 2px 2px rgba(50,50,50,0.7),
		inset 2px -2px 2px rgba(255,255,255,0.7);
	-moz-box-shadow:
		inset -2px 2px 2px rgba(50,50,50,0.7),
		inset 2px -2px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		inset -2px 2px 2px rgba(50,50,50,0.7),
		inset 2px -2px 2px rgba(255,255,255,0.7);
}
.button:active a
{
	padding: 6px 0 4px 10px;
}
.head1 { width:190px; }
.head2 { width:150px; }
.head3 { width:200px; }
.head4 { width:270px; }
.head5 { width:120px; }

input[type="radio"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;     /* not currently supported */
    -o-appearance: checkbox;      /* not currently supported */
	width:auto;
}

.assistant { 
	font-size:12px;
}

.center {
	display:block;
	margin:0 auto;
}

.certify	{ width:580px; }
.signature	{ width:90%; }
.print		{ display:none; }

@media print
{
	input, 
	.calendar 	{ border-style:none; }
	.button 	{ display:none;	}
	.notCurrent	{ color:#000; }
	.print		{ display:block; }
}